/* Give your page a fun background color */
body {
    background-color: mediumslateblue;
}
/* Make the header and footer a different color from the background */
header, footer {
    background-color: hotpink;
    padding: 10px 5%;
    box-shadow: 0 2px 3px black;
}
/* Align the h1 containing your name in the center of the header*/
h1 {
    text-align: center;
}
/* Make your p tag a different color and italic */
p {
    color: brown;
    font-style: italic;
}
/* Put a border around your image */
img {
    border: 5px solid yellow;
    box-shadow: 0 2px 3px black;
    text-align: center;
    margin-top: 3px;
}
/* Change the font-family of your list */
ul {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}